/* Definições gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

section #enButton{
    margin-top: 20px;
    border-radius: 30px;
    height: 40px;
    font-size: medium;
    font-family:Arial;
    margin-left: 3px;

}
button:hover{
    background-color: #4285f4;
    color: #ffffff;
    transition: color 0.2s;
    transform: scale(1.15);
}

section #deButton{
    margin-top: 20px;
    border-radius: 30px;
    height: 39px;
    font-size: medium;
    font-family:Arial;
    margin-left: 15px;
}

section #OutToInput{
    margin-top: -9px;
    height: 40px;
    font-size: medium;
    font-family:Arial;
    margin-left: 25px;
    margin-bottom: 20px;
}

header {
    background-color: #4285f4; /* Azul */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

main section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f0f0f0; /* Cinza claro */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

main section h2 {
    margin-top: 0;
    font-size: 1.8em;
    border-bottom: 2px solid #4285f4; /* Azul */
    padding-bottom: 10px;
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: inherit;
}

form textarea {
    resize: vertical;
    height: 150px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 1em;
}
textarea#user-input {
    width: 100%;
    height: 300px;
    vertical-align: top;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: inherit;
}
textarea#Output {
    width: 100%;
    height: 150px;
    vertical-align: top;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: inherit;
}
